{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint-config-uber-es2015",
    "eslint-config-uber-jsx",
    "prettier",
    "prettier/react"
  ],
  "settings": {
    "react" : {
      "version": "detect"
    }
  },
  "rules": {
    "camelcase": 0
  },
  "env": {
    "node": true
  }
}
