{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint-config-uber-es2015",
    "eslint-config-uber-jsx",
    "prettier"
  ],
  "rules": {
    "camelcase": 0
  },
  "env": {
    "node": true
  }
}
